@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timeline ul
{
  position: relative;
}
.timeline ul::before
{
  position: absolute;
  content: '';
  height: 100%;
  width: 3px;
  background-color: #a5f3fc;
  left: 50%;
  z-index: -1;
}
.timeline ul > li
{
  position: relative;

}
.timeline ul > li:nth-child(odd):before
{
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 45%;
  position: absolute;
  background-color: #67e8f9;
  right: -9px;
  z-index: 1;
}
.timeline ul > li:nth-child(even):before
{
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 45%;
  position: absolute;
  background-color: #67e8f9;
  left: -6px;
  z-index: 1;
}